

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


body {
  background-image: url(./hatter.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  color: white;
}

#tartalom {
  max-width: 900px;
  background-color: rgba(4, 42, 63, 0.8);
  margin: 20px auto 40px auto;
  padding: 40px;
}
.keret {
  padding: 0px 25px 0px 25px;
  margin: auto 20px;
}
.keret img{
  max-width: 800px;
  padding-bottom: 10px;
  border-bottom: 3px #3abdc9;
}
.kepalairas {
  font-size: 1.3em;
  margin: 0;
  font-style: italic;
  text-align: center;
  line-height: 130%;
}

table {
  background-color: rgba(227, 225, 233, 0.3);
  border: 3px solid rgb(58, 189, 201);
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th {
  background-color: rgba(58, 189, 201, 0.6);
  color: white;
}

th, td {
  border: 1px solid rgb(58, 189, 201);
  padding: 5px;
}
